.BandList{
  margin-left: -14px;
}

.Band{
  margin: 4px 0 4px 0;
  font-size:14px;
  width:300px;
  border: dashed 1px #ccc;
  height:85px;
  padding: 2px 6px;
}

.virtBand{
  color:red;


}

.Band UL {
  list-style-type:none;
  padding: 0;
  margin: 0;

}

.Bands .input-group-addon {
  padding: 6px 6px 6px 12px;
}

.input-group .form-control {
z-index:0;
}

.form-horizontal{
  width:300px; 
}
.has-error .Select-control{
  border-color: #a94442;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Remove{
  float:right;
  color: #337ab7;
  background: none;
  border: none;
  cursor: pointer;
}
